.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.home_container h1 span {
    color: #6010ac;
    padding: 0 0.2em;
    background-color: #ffe600;
}

.home_container p {
    margin-bottom: 1.5em;
    color: #222222;
}

.home_container img {
    width: 350px;
    margin: 2em 0;
}

.newproject_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newproject_container h1 {
    margin-bottom: 1em;
}

.newproject_container p {
    color: #000000;
}

.my_projects {
    margin-top: 1em;
}

.project_container {
    padding: 3em;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.project_details {
    padding: 2em;
    margin-bottom: 60px;
    margin-top: 30px;

}

.project_details h1,
.project_details h2,
.project_details p {
    margin-bottom: 0.5em;
}

.project_details h1 {
    background-color: #ffe600;
    color: #000000;
    padding: 0.4em
}

.project_details span {
    font-weight: bold;
}

.details_container,
.service_form_container {
    border-bottom: 1px solid #ffe600;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.btn {
    background-color: #6010ac;
    color: #ffffff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #ffe600;
    color: #000000;
}

.project_info {
    width: 100%;
}